.todoitem{
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px #00000085;
}

.todoitem small{
    font-family: monospace;
}
.todoitem p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.todoitem h5{
    font-family: fantasy;
}

.to-do-item{
    height: 50vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: rgba(255, 255, 255, 0) rgba(0, 0, 0, 0);
}
